<play-header></play-header>

<div class="section-1">
    <div class="section-1-background">
      <div id="top" class="top-block"></div>
      <div class="container-2">
        <div id="back-to-top" class="header-content-wrapper">
          <div class="s-1-decoration-tex">KICKSTART YOUR<span class="pro-career"> PRO CAREER</span> WITH FIELDOO</div>
          <h1 class="h1-heading-2 header">FIND A CLUB. GET A TRIAL. PLAY FOOTBALL.</h1>
          <p class="s-1-paragraph">Fieldoo helps football players take the next step. It is the fastest  way to find a club and the best way to develop your career.</p>
          <a href="#" class="orange-btn w-inline-block">
            <div class="orange-btn-content">
              <div class="btn-text">CREATE FREE ACCOUNT</div>
              <div class="btn-arrown"><img src="assets/images/ArrowWhite.svg" alt="" class="arrow-image"></div>
            </div>
          </a>
        </div>
        <div class="scroll-down">
          <div class="sc-text">SCROLL DOWN</div>
          <div class="sc-decoration"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-2">
    <div class="section-2-wrapper">
      <div class="top-wrapper">
        <div class="how-it-works">
          <div class="heading-line"></div>
          <h1 class="h1-heading-2">HOW IT<br><span class="h1-orange-text">WOKRS</span></h1>
        </div>
        <div class="steps-content">
          <div class="mobile-numbers">
            <div class="mobile-number">01</div>
          </div>
          <div class="step-content">
            <div class="step-text">
              <div class="step-heading-wrapper">
                <div class="cross"><img src="assets/images/CROSSDiagonal.svg" height="30" width="30" alt="" class="cross-image"></div>
                <div class="step-heading">
                  <div class="step-heading-text">CREATE YOUR FIELDOO PROFILE</div>
                </div>
              </div>
              <p class="step-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis gravida.</p>
            </div>
            <div class="number-wrapper">
              <div class="numbers">01</div>
            </div>
          </div>
          <div class="mobile-numbers">
            <div class="mobile-number">02</div>
          </div>
          <div class="step-content">
            <div class="step-text">
              <div class="step-heading-wrapper">
                <div class="cross"><img src="assets/images/CROSSDiagonal.svg" width="30" height="30" alt="" class="cross-image"></div>
                <div class="step-heading">
                  <div class="step-heading-text">CONNECT WITH AGENTS, SCOUTS AND CLUBS</div>
                </div>
              </div>
              <p class="step-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis gravida nisl ut vehicula.</p>
            </div>
            <div class="number-wrapper">
              <div class="numbers">02</div>
            </div>
          </div>
          <div class="mobile-numbers">
            <div class="mobile-number">03</div>
          </div>
          <div class="step-content">
            <div class="step-text">
              <div class="step-heading-wrapper">
                <div class="cross"><img src="assets/images/CROSSDiagonal.svg" width="30" height="30" alt="" class="cross-image"></div>
                <div class="step-heading">
                  <div class="step-heading-text">FIND A CLUB</div>
                </div>
              </div>
              <p class="step-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis gravida nisl.</p>
            </div>
            <div class="number-wrapper">
              <div class="numbers">03</div>
            </div>
          </div>
          <div class="mobile-numbers">
            <div class="mobile-number">04</div>
          </div>
          <div class="step-content">
            <div class="step-text">
              <div class="step-heading-wrapper">
                <div class="cross"><img src="assets/images/CROSSDiagonal.svg" width="30" height="30" alt="" class="cross-image"></div>
                <div class="step-heading">
                  <div class="step-heading-text">GET A CLUB TRIAL</div>
                </div>
              </div>
              <p class="step-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>
            <div class="number-wrapper">
              <div class="numbers">04</div>
            </div>
          </div>
          <div class="mobile-numbers">
            <div class="mobile-number">05</div>
          </div>
          <div class="step-content">
            <div class="step-text">
              <div class="step-heading-wrapper">
                <div class="cross"><img src="assets/images/CROSSDiagonal.svg" width="30" height="30" alt="" class="cross-image"></div>
                <div class="step-heading">
                  <div class="step-heading-text">SCORE A PRO CONTRACT</div>
                </div>
              </div>
              <p class="step-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis gravida.</p>
            </div>
            <div class="number-wrapper">
              <div class="numbers">05</div>
            </div>
          </div>
        </div>
      </div>
      <div class="middle-wrapper">
        <div class="grid-content">
          <div class="call"></div>
          <h3 class="h-3-heading">PLAYERS LIST</h3>
          <div class="image-wrapper-2">
            <div class="orange-cover">
              <a href="#" class="btn-cover w-inline-block">
                <div class="btn-cover-wrapper">
                  <div class="gtpl-text">GO TO PLAYERS LIST</div>
                </div>
              </a>
            </div>
          </div>
          <p class="market-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
          <a href="#" class="btn-read-more w-inline-block">
            <div class="read-more-text">READ MORE</div>
          </a>
        </div>
        <div class="grid-content">
          <div class="call"></div>
          <h3 class="h-3-heading">AGENTS LIST</h3>
          <div class="image-wrapper-2">
            <div class="orange-cover">
              <a href="#" class="btn-cover w-inline-block">
                <div class="btn-cover-wrapper">
                  <div class="gtpl-text">GO TO AGENT LIST</div>
                </div>
              </a>
            </div>
          </div>
          <p class="market-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
          <a href="#" class="btn-read-more w-inline-block">
            <div class="read-more-text">READ MORE</div>
          </a>
        </div>
        <div class="grid-content">
          <div class="call"></div>
          <h3 class="h-3-heading">FIELDOO MARKET</h3>
          <div class="image-wrapper-2">
            <div class="orange-cover">
              <a href="#" class="btn-cover w-inline-block">
                <div class="btn-cover-wrapper">
                  <div class="gtpl-text">FIELDOO MARKET</div>
                </div>
              </a>
            </div>
          </div>
          <p class="market-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
          <a href="#" class="btn-read-more w-inline-block">
            <div class="read-more-text">READ MORE</div>
          </a>
        </div>
      </div>
      <div class="bottom-wrapper">
        <div class="fielooo-tirals trial-section-content">
          <div class="heading-line"></div>
          <h1 class="h1-heading-2">FIELDOO<span class="h1-orange-text"> TRIALS</span></h1>
        </div>
        <div class="trial-content-wrapper">
          <div class="trial-content">
            <div class="trial-name-date-text"><span class="small-orange-tex">VALENCIA</span> / 22.07.2019</div>
            <h2 class="h-2-heading">SEE IF YOU HAVE WHAT IT TAKES TO BECOME A <span class="h2-orange-text">PRO</span>.</h2>
            <p class="trials-paragraph">Professional football events where players get a direct opportunity to get scouted, to get a contractor simply to take the next step.</p>
            <a href="#" class="btn-border w-inline-block">
              <div class="btn-border-content">
                <div class="btn-text-black">SEE OUR OPEN TRIAL</div>
                <div class="btn-arrow-orange"><img src="assets/images/ArrowOrange" alt="" class="arrow-orange"></div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-call-to-action">
    <div class="call-to-action-wrapp">
      <div class="form-wrapper">
        <div class="headline-conatiner">
          <h2 class="h2-heading">SUBSCRIBE FOR TRIAL UPDATES</h2>
          <div class="line"></div>
          <p class="newsletter-text">Enter your E-mail address and be notified about upcoming Fieldoo Trials.</p>
        </div>
        <div class="submit-wrapper">
          <div class="_7-col">
            <div class="form1-form-wrap w-form">
              <form id="email-form" name="email-form" data-name="Email Form" class="form1"><input type="text" class="form1-input w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="Enter your email" id="email-2" required=""><input type="submit" value="SUBMIT" data-wait="Please wait..." class="btn-big w-button"></form>
              <div class="form1-success w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="form1-error w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-testimonials">
    <div class="testimonials-wrapper">
      <div class="fielooo-tirals testimonials">
        <div class="heading-line"></div>
        <h1 class="h1-heading-2">FIELDOO<span class="h1-orange-text"> TESTIMONAL</span></h1>
      </div>
      <div class="testimonial-wrapper">
        <div class="person-wrapper">
          <div class="image-name-wrapper"><img src="assets/images/Testimonial-1.png" alt="">
            <div class="name-container">
              <div class="name">DIAGORO NAGOTO</div>
              <div class="proffesion">Football Player</div>
            </div>
          </div>
          <p class="testimonial-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare.</p>
          <div class="call testimonial-section"></div>
        </div>
        <div class="person-wrapper">
          <div class="image-name-wrapper"><img src="assets/images/Testimonial-3.png" alt="">
            <div class="name-container">
              <div class="name">ALBI GJOLENA</div>
              <div class="proffesion">Football Player</div>
            </div>
          </div>
          <p class="testimonial-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare.</p>
          <div class="call testimonial-section"></div>
        </div>
        <div class="person-wrapper">
          <div class="image-name-wrapper"><img src="assets/images/Testimonial-3.1.png" alt="">
            <div class="name-container">
              <div class="name">ZIDAN ZEMOUDINE</div>
              <div class="proffesion">Football Player</div>
            </div>
          </div>
          <p class="testimonial-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare.</p>
          <div class="call testimonial-section"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-sponsors">
    <div class="sponsor-wrapper"><img src="assets/images/Sponsor1.svg" alt="">
      <img src="assets/images/Sponsor4.svg" alt="">
      <img src="assets/images/Sponsor2.svg" alt="">
      <img src="assets/images/Sponsor5.svg" alt="">
      <img src="assets/images/Sponsor3.svg" alt="">
      <img src="assets/images/Sponsors6.svg" alt=""></div>
  </div>

  <play-footer></play-footer>
<router-outlet></router-outlet>