
<play-header></play-header>
  <div class="section-fieldoo-face">
    <div class="fieldoo-faces-wrapper">
      <div class="faces-content">
        <div class="fieldoo-paragraph">
          <p class="fieldoo-paragraph">I started football when I was 5 years old in Kyoto, Japan. It waw because I found football interesting after I watched the first professional football  match. At first I  only trained once a week in a footballschool, but soon I joined a football club called Shiko Soccer Club which was the strongest team inKyoto. After I started primary school, I had training every single day. When I turned 8 years old, I met the coach who influenced me the most. He was the coach for U12 Shiko SC. He was strict and harsh to us, but at the same time he treated us like his children andtook care of us. He implanted the base of my mental side.</p>
        </div>
        <div class="text-block-12">ABOUT HIM</div>
        <h1 class="h1-heading fieldoo-faces">DIAGORO<span class="h1-orange-text"> NAGATO</span></h1>
      </div>
      <h1 class="h1-heading fieldoo-faces mobile">DIAGORO<span class="h1-orange-text"> NAGATO</span></h1>
    </div>
    <div class="faces-stats">
      <div class="stats-col1">
        <div class="stats-1">
          <div class="text-block-4">JAPAN</div>
          <div class="text-block-5">Country</div>
        </div>
        <div class="stats-2">
          <div class="text-block-9">CRUZERIO ACADEMY</div>
          <div class="text-block-8">Club</div>
        </div>
      </div>
      <div class="stats-col2">
        <div class="stats-3">
          <div class="text-block-6">FORWARD</div>
          <div class="text-block-7">Position</div>
        </div>
        <div class="stats-4">
          <div class="text-block-10">JUNE 24th. 2003</div>
          <div class="text-block-11">Date of Birth</div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-3">
    <div class="text-block-12">ABOUT HIM</div>
    <p class="fieldoo-paragraph">I started football when I was 5 years old in Kyoto, Japan. It waw because I found football interesting after I watched the first professional football  match. At first I  only trained once a week in a footballschool, but soon I joined a football club called Shiko Soccer Club which was the strongest team inKyoto. After I started primary school, I had training every single day. When I turned 8 years old, I met the coach who influenced me the most. He was the coach for U12 Shiko SC. He was strict and harsh to us, but at the same time he treated us like his children andtook care of us. He implanted the base of my mental side.</p>
  </div>
  <div class="section-about-him">
    <div class="wrapper-1"><img src="assets/images/About-him-1.png" alt="">
      <div class="paragraph-wrapper">
        <div class="line"></div>
        <p class="paragraph-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
      </div>
    </div>
    <div class="wrapper-2"><img src="assets/images/About-him2.png" alt="">
      <div class="paragraph-wrapper-2">
        <div class="line"></div>
        <p class="paragraph-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
      </div>
    </div>
  </div>
  <div class="line-diviader"></div>
  <div class="section-fieldoo-assport">
    <h1 class="heading">CHECK OUT DIAGORO NAGATO <a href="#"><span class="text-span-66">SPORT PASPORT</span></a></h1>
  </div>
  <play-footer></play-footer>
 


<router-outlet></router-outlet>