<div class="footer">
        <div class="footer-container">
          <div class="footer-links-wrapper"><a href="faq.html" class="fotter-links w-button">FAQ</a><a href="help.html"
              class="fotter-links w-button w--current">HELP</a><a href="about-us.html"
              class="fotter-links w-button">PRESS</a><a href="privacy-policy.html" class="fotter-links w-button">PRIVACY
              POLICY</a><a href="terms.html" class="fotter-links w-button">TERMS OF USE</a><a href="#"
              class="fotter-links w-button">ABOUT
              US</a><a href="mailto:info@play.com" class="fotter-links w-button">CONTACT US</a></div>
          <div class="bottom-content-wrapper">
            <div class="social-media"><a href="http://twitter.com/Play" target="_blank"
                class="social-btn-2 twitter w-inline-block"></a><a href="http://www.instagram.com/play/"
                class="social-btn-2 instagram w-inline-block"></a><a href="http://www.facebook.com/Play/" target="_blank"
                class="social-btn-2 facebook w-inline-block"></a><a href="http://www.linkedin.com/company/play/"
                class="social-btn-2 linkedin w-inline-block"></a></div>
            <a href="#" class="footer-brand-logo w-inline-block"><img
                src="assets/images/WhiteLogo.svg"
                alt="" class="footer-logo"></a>
            <div class="copyrights-text">© 2019 Play AG. All Rights Reserved.</div>
          </div>
        </div>
        <div class="go-top-container"><a href="#navbar" class="top-link w-inline-block"><img
              src="assets/images/SCROLLUARROW.svg"
              alt=""></a></div>
      </div>