
<div data-collapse="medium" data-animation="default" data-duration="400" id="navbar" class="navbar w-nav">
    <div class="nav-wrapper"><a routerLinkActive="active" routerLink="/" onclick="myfunction()" class="brand w-nav-brand"><img src="assets/images/play-logo.png" height="15"
          alt="" class="logo"></a>  
          
      <nav  class="nav-menu w-nav-menu"  id="w-nav-button" >
        <div class="nav-link-wrapper">
          <div class="main-link-wrapper">
            <a routerLinkActive="active" routerLink="/play" class="nav-link w-nav-link">WHAT IS FIELDOO</a>
            <a  routerLinkActive="active" routerLink="/trials" class="nav-link w-nav-link">FIELDOO TRIALS</a>
            <a  routerLinkActive="active" routerLink="/faces" class="nav-link w-nav-link">FIELDOO FACES</a>
            <a href="http://blog.play.com/"target="_blank" class="nav-link w-nav-link">BLOG</a><a href="#" class="nav-link w-nav-link">PRICING</a>
          </div>
          <div class="login-wrapper"><a href="#" class="nav-link w-nav-link">LOGIN</a><a href="#"
              class="join-us w-nav-link">JOIN US</a></div>
        </div>
      </nav>
      <div class="menu-button w-nav-button" onclick="myFunction()">
        <div data-w-id="21e2e3ea-afc1-6746-b745-d92dc9da454f" class="burger-3-2">
          <div class="b3-top-wrap">
            <div data-w-id="21e2e3ea-afc1-6746-b745-d92dc9da4551" class="b3-bar1-2"></div>
            <div data-w-id="21e2e3ea-afc1-6746-b745-d92dc9da4552" class="b3-middlebar-base-2">
              <div class="b3-middlebar-top-2"></div>
              <div data-w-id="21e2e3ea-afc1-6746-b745-d92dc9da4554" class="b3-middlebar-2"></div>
            </div>
            <div data-w-id="21e2e3ea-afc1-6746-b745-d92dc9da4555" class="b3-bar3-2"></div>
          </div>
        </div>
      </div>
</div>


      
     


